<head>
  <title>container</title>
  <link rel="stylesheet" type="text/css" href="css.css">
</head>
<body>

  <div class="container">
    <form action="action_page.php">

    <div class=info>
      <label for="fname">First Name</label>
      <input type="text" id="fname" name="firstname" placeholder="Your name">

      <label for="lname">Last Name</label>
      <input type="text" id="lname" name="lastname" placeholder="Your last name">
</div>

  <div class=contacts>
      <label for="contacts">Your Contacts</label>
      <input type="text" id="contacts" name="contacts" placeholder="Your Contact info">
  </div>
    <div class=subject>
      <label for="subject">Subject</label>
      <input type="text" id="subject" name="subject" placeholder="Subject">
    </div>



  <div class=Message>
        <label for="subject">Message</label>
        <textarea id="subject" name="subject" placeholder="Your Message..." style="height:200px"></textarea>

  </div>
      <input type="submit" value="Submit">

    </form>
  </div>
</body>
