body {
  margin: 0px;
}

/* Add a black background color to the top navigation */
.topnav {
  display: none;
  overflow: hidden;
  position: fixed;
  top: 0px;
  width: 100%;
  text-align: center;
  z-index: 1000;
}

.topnav .background {
  display: block;
  position: absolute;
  background-color: black;
  opacity: 0.2;
  height: 100%;
  width: 100%;
  z-index: -1000;
}

/* Style the links inside the navigation bar */
.topnav a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 28px;
  text-decoration: none;
  font-size: 20px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: rgba(100,100,100,0.5);
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  border-bottom: 3px solid black;
  color: black;
}

.welcome {
  position: absolute;
  left: 0;
  top: 5%;
  width: 100%;
  text-align: center;
  color: #000;
}

.welcome .logo {
  background-image: url("../salvis.png");
  opacity: 0.8;
  width: 280px;
  height: 136px;
  margin: auto;
  margin-bottom: 100px;
}

.welcome .border {
  background-color: transparent;
  opacity: 0.8;
  color: black;
  text-shadow: 1px 1px white;
  padding: 18px;
  font-size: 48px;
  letter-spacing: 2px;
  width: 40%;
  margin: auto;
  border-radius: 10px;
}

.welcome .message {
  width: 70%;
}

.welcome button {
  background-color: #3385ff;
  opacity: 0.8;
  border: none;
  margin-top: 25px;
  margin-left: 20px;
  margin-right: 20px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border: 1px solid #3385ff;
}

.welcome button:hover {
  border: 1px solid #005ce6;
  background-color : white;
  color: black;
  cursor: pointer;
}

.parallax {
  /* The image used */
  background-image: url("../test.jpg");

  /* Set a specific height */
  min-height: 100vh;
  margin: 0px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.lingua {
  margin: 5px;
  margin-right: 15px;
  display: block;
  position: fixed;
  top: 0px;
  right: 0px;
  color : #3385ff;
  z-index: 1000;
}

.lingua span:hover {
  color: white;
  cursor: pointer;
}

.page-control {
  color: #66a3ff;
  margin: 25px;
  font-size: 36px;
  border: 3px solid #66a3ff;
  border-radius: 90px;
  padding-left: 6px;
  padding-right: 6px;
  padding-top: 2px;
  display: block;
  position: fixed;
  bottom: 0px;
  right: 0px;
  z-index: 1000;
}

.page-control:hover {
  color: white;
  border: 3px solid white;
  opacity: 0.8;
  cursor: pointer;
}

.about {
  width: 100%;
  display: block;
  position: relative;
  margin: 0px;
  background-color: white;
  margin-bottom: 50px;
}

.about .info {
  width: 70%;
  font-size: 24px;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: justify;
  letter-spacing: 1px;
}

.about h1 {
  opacity: 0.8;
  color: black;
  text-shadow: 1px 1px white;
  padding: 18px;
  font-size: 48px;
  letter-spacing: 2px;
  text-align: center;
}

.news {
  width: 100%;
  display: block;
  position: relative;
  margin: 0px;
  background-color: white;
  height: 900px;

}

.news .info {
  width: 90%;
  font-size: 12px;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: justify;
  letter-spacing: 1px;
}

.news h1 {
  opacity: 0.8;
  color: black;
  text-shadow: 1px 1px white;
  padding: 18px;
  font-size: 48px;
  letter-spacing: 2px;
  text-align: center;
}

.news .container {
  width: 100%;
}

.news .post {
  width: 550px;
  box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2), 0 4px 20px 0 rgba(0,0,0,0.19);
  position: relative;
  float: left;
  margin-left: 50px;
}

.news .title,
.news .descr,
.news button,
.news .date {
  margin-left: 7px;
  margin-right: 7px;
}

.news .title {
  font-size: 18px;
}

.news .date {
  margin-left: 85%;
}

.news .open {
  background-color: white;
  border: 1px solid #ccc;
  padding: 5px;
  margin-top: 10px;
  margin-bottom: 4px;
}

.news .open:hover {
  cursor: pointer;
  background-color: #ccc;
}
