body {
  margin: 0px;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */

}

/* Add a black background color to the top navigation */
.topnav {
  overflow: hidden;
  position: fixed;
  top: 0px;
  width: 100%;
  text-align: center;
  z-index: 1000;
  height: 80px;
}

.topnav .background {
  display: block;
  position: absolute;
  background-color: #66a3ff;
  height: 100%;
  width: 100%;
  z-index: -1000;
}

/* Style the links inside the navigation bar */
.topnav a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 28px;
  text-decoration: none;
  font-size: 20px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: rgba(100,100,100,0.5);
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  border-bottom: 3px solid black;
  color: black;
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans);

.search {
  width: 100%;
  position: relative
}

.searchTerm {
  float: left;
  width: 100%;
  border: 3px solid lightgrey;
  padding: 5px;
  height: 30px;
  border-radius: 5px;
  outline: none;
  color: #66a3ff;
}

.searchTerm:focus{
  color: #66a3ff;
}

.searchButton {
  position: absolute;
  right: -50px;
  width: 40px;
  height: 46px;
  border: 1px solid lightgrey;
  background: lightgrey;
  text-align: center;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/
.wrap{
  width: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.notifications {
  display:block;
  right: 95px;
  position: absolute;
  font-size: 24px;
  color: lightgrey;
  top: 28px;
}

.user-icon {
  display:block;
  right: 22px;
  position: absolute;
  font-size: 42px;
  color: lightgrey;
  top: 12px;
}

.user-icon img:hover {
  cursor: pointer;
  border: 3px solid grey;
  border-radius: 100%;
}

.user-icon img {
  border: 3px solid transparent;
  border-radius: 50%;
}

.more {
  display:block;
  left: 35px;
  position: absolute;
  font-size: 42px;
  color: lightgrey;
  top: 15px;
}

.title {
  display:block;
  left: 115px;
  position: absolute;
  font-size: 24px;
  color: lightgrey;
  top: 25px;
}

.more:hover, .notifications:hover {
  color: grey;
  cursor: pointer;
}

.leftnav {
  overflow: hidden;
  position: fixed;
  top: 80px;
  width: 105px;
  text-align: center;
  z-index: 1000;
  left: 0px;
  height: 100vh;
}

.leftnav .background {
  display: block;
  position: absolute;
  background-color: #80b3ff;
  height: 100%;
  width: 100%;
  z-index: -1000;
}

/* Style the links inside the navigation bar */
.leftnav a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 28px;
  text-decoration: none;
  font-size: 20px;
}

/* Change the color of links on hover */
.leftnav a:hover {
  background-color: rgba(100,100,100,0.5);
  color: black;
}

.main {
  position: relative;
  display:block;
  margin: auto;
  width: 40%;
  top: 100px;
}

.main .activity {
  width: 100%;
  box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2), 0 4px 20px 0 rgba(0,0,0,0.19);
  position: relative;
  float: left;
  padding: 2px;
  margin-bottom: 50px;
}

.main .activity:hover {
  border: 2px solid orange;
  padding: 0px;
  cursor: pointer;
}

.main .activity .thumbnail img {
  max-width: 100%;
  margin-bottom: 10px;
}

.main .activity .thumbnail {
  width: 100%;
  text-align: center;
}

.main .atitle,
.main .descr,
.main button,
.main .date {
  margin-left: 7px;
  margin-right: 7px;
}

.main .atitle {
  font-size: 18px;
}

.main .bottom {
  margin-top: 15px;
  width: 100%;
  border-top: 1px solid lightgrey;
}

.main .bottom .rate {
  display: block;
  position: relative;
  float: left;
  margin: 10px;
}

.main .bottom .rate i {
  color: grey;
  border: 1px solid grey;
  padding: 3px;
  padding-left: 5px;
  padding-right: 5px;
  margin-left: 2px;
}

.like.active {
  color: lightgreen !important;
  border-color: lightgreen !important;
}

.dislike.active {
  color: red !important;
  border-color: red !important;
}

.main .bottom .rate i:hover {
  color: black;
  border: 1px solid black;
  cursor: pointer;
}

.main .bottom .location {
  display: block;
  position: relative;
  float: right;
  margin: 10px;
}
